<div>
  <div><%= link_to "Homepage", root_path %></div>
  <div><%= link_to "About Me", about_me_path %></div>
  <div><%= link_to "My Blog", blogs_path %></div>
  <div><%= link_to "My Portfolio", portfolios_path %></div>
  <div><%= link_to "Contact Me", contact_path %></div>
</div>