<nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-end">
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="row">
        <div class="col-sm-12 py-0">
          <h4 class="text-muted">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
      </div>
      
      <nav class="nav portfolio-nav justify-content-end">
        <%= link_to "Home", root_path, class: 'nav-link text-muted' %>
        <%= link_to "About Me", about_me_path, class: 'nav-link' %>
        <%= link_to "Blog", blogs_path, class: 'nav-link text-muted' %>
        <%= link_to "Portfolio", portfolios_path, class: 'nav-link' %>
        <%= link_to "Contact", contact_path, class: 'nav-link text-muted' %>
      </nav>
      <nav class="nav portfolio-nav justify-content-end">
        <p><a class="nav-link" href="login_helper"><%= login_helper %></a></p>
      </nav>
    </div>
</nav>