<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- start of navigation -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-end">
      <button class="navbar-toggler navbar-toggler-right justify-content-end " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon justify-content-end"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Home", root_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "About Me", about_me_path %></a>
            </li>
            <li class="nav-item">
             <a class="nav-link" <%= link_to "Blog", blogs_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Portfolio", portfolios_path %></a>
            <li class="nav-item">
              <a class="nav-link" <%= link_to "Contact", contact_path %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navigation -->

    <!-- start of masthead -->

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>
        </p>
      </div>
    </section>

    <!-- end of masthead -->

  
    <%= render "shared/nav", location: 'top' %>

    <hr>

    <%= login_helper %>


    <%= yield %>
    <!-- start of footer -->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
    <!-- end of footer -->

    <%= source_helper("application") %>
    
  </body>
</html>
